# ANN Implemention
**Admission Prediction DataSet**

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

import os

In [3]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df_main = df.dropna(axis = 0 , inplace=True)

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.head(2)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0

[2 rows x 14 columns]

In [6]:
x = df.drop(['Geography','Gender' , 'Surname', 'Exited'],axis = 1)
y = df[ 'Exited']

In [ ]:
set(y)

{0, 1}

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scalar = StandardScaler()

In [10]:
scale_value = scalar.fit_transform(x)
scale_value

array([[-1.73187761, -0.78321342, -0.32622142, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-1.7315312 , -0.60653412, -0.44003595, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-1.73118479, -0.99588476, -1.53679418, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 1.73118479, -1.47928179,  0.60498839, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.7315312 , -0.11935577,  1.25683526, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 1.73187761, -0.87055909,  1.46377078, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [11]:
df1 = pd.DataFrame(scale_value)
df1.columns = x.columns

In [12]:
df1.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-1.731878,-0.783213,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-1.731531,-0.606534,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-1.731185,-0.995885,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687
3,-1.730838,0.144767,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918
4,-1.730492,0.652659,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df1, y, test_size=0.15, random_state=22)

In [15]:
X_train.iloc[0] ## so there are 10 features so input shape is 10

RowNumber          0.778557
CustomerId        -0.385730
CreditScore       -0.709052
Age                0.102810
Tenure            -0.695982
Balance            0.539545
NumOfProducts     -0.911583
HasCrCard          0.646092
IsActiveMember     0.970243
EstimatedSalary    1.594005
Name: 7247, dtype: float64

In [16]:
model = tf.keras.Sequential([
                             tf.keras.layers.Dense(20 , input_shape=(10 ,) , activation="relu" ),
                            tf.keras.layers.Dense(215 , activation="relu" ),
                              tf.keras.layers.Dense(1 , activation="sigmoid" )
]
)

Losses ="binary_crossentropy"
Optimizer = "adam"
Metrics = ["accuracy"]
model.compile(loss = Losses , optimizer = Optimizer , metrics = Metrics)

In [17]:
model.fit(X_train , y_train , epochs = 100)

Epoch 1/100
266/266 [==============================] - 1s 2ms/step - loss: 0.4588 - accuracy: 0.8069
Epoch 2/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3959 - accuracy: 0.8348
Epoch 3/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3733 - accuracy: 0.8456
Epoch 4/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3634 - accuracy: 0.8512
Epoch 5/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3578 - accuracy: 0.8544
Epoch 6/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3531 - accuracy: 0.8539
Epoch 7/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3512 - accuracy: 0.8562
Epoch 8/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8568
Epoch 9/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8581
Epoch 10/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8612
Epoch 11/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8571
Epoch 12/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8629
Epoch 13/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8619
Epoch 14/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8607
Epoch 15/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8607
Epoch 16/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8621
Epoch 17/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8633
Epoch 18/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8615
Epoch 19/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8619
Epoch 20/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3299 - accuracy: 0.8633
Epoch 21/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8626
Epoch 22/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3290 - accuracy: 0.8640
Epoch 23/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3268 - accuracy: 0.8646
Epoch 24/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3275 - accuracy: 0.8656
Epoch 25/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3271 - accuracy: 0.8644
Epoch 26/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3248 - accuracy: 0.8666
Epoch 27/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3240 - accuracy: 0.8653
Epoch 28/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3233 - accuracy: 0.8654
Epoch 29/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3216 - accuracy: 0.8689
Epoch 30/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3206 - accuracy: 0.8659
Epoch 31/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3189 - accuracy: 0.8671
Epoch 32/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3186 - accuracy: 0.8705
Epoch 33/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3177 - accuracy: 0.8660
Epoch 34/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3175 - accuracy: 0.8684
Epoch 35/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3160 - accuracy: 0.8701
Epoch 36/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3144 - accuracy: 0.8681
Epoch 37/100
266/266 [==============================] - 1s 3ms/step - loss: 0.3133 - accuracy: 0.8715
Epoch 38/100
266/266 [==============================] - 1s 3ms/step - loss: 0.3128 - accuracy: 0.8692
Epoch 39/100
266/266 [==============================] - 1s 5ms/step - loss: 0.3129 - accuracy: 0.8699
Epoch 40/100
266/266 [==============================] - 1s 3ms/step - loss: 0.3124 - accuracy: 0.8698
Epoch 41/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3104 - accuracy: 0.8707
Epoch 42/100
266/266 [==============================] - 1s 3ms/step - loss: 0.3093 - accuracy: 0.8715
Epoch 43/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3071 - accuracy: 0.8725
Epoch 44/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3070 - accuracy: 0.8721
Epoch 45/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3061 - accuracy: 0.8734
Epoch 46/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3053 - accuracy: 0.8715
Epoch 47/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3046 - accuracy: 0.8745
Epoch 48/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3029 - accuracy: 0.8735
Epoch 49/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3017 - accuracy: 0.8756
Epoch 50/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3021 - accuracy: 0.8746
Epoch 51/100
266/266 [==============================] - 1s 2ms/step - loss: 0.3006 - accuracy: 0.8751
Epoch 52/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2998 - accuracy: 0.8749
Epoch 53/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2977 - accuracy: 0.8780
Epoch 54/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2979 - accuracy: 0.8779
Epoch 55/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2977 - accuracy: 0.8785
Epoch 56/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2955 - accuracy: 0.8787
Epoch 57/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2951 - accuracy: 0.8785
Epoch 58/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2944 - accuracy: 0.8769
Epoch 59/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2939 - accuracy: 0.8773
Epoch 60/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2903 - accuracy: 0.8804
Epoch 61/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2901 - accuracy: 0.8782
Epoch 62/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2882 - accuracy: 0.8819
Epoch 63/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2878 - accuracy: 0.8800
Epoch 64/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2892 - accuracy: 0.8798
Epoch 65/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2848 - accuracy: 0.8827
Epoch 66/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2852 - accuracy: 0.8822
Epoch 67/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2841 - accuracy: 0.8813
Epoch 68/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2834 - accuracy: 0.8798
Epoch 69/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2817 - accuracy: 0.8831
Epoch 70/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2809 - accuracy: 0.8827
Epoch 71/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2798 - accuracy: 0.8828
Epoch 72/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2788 - accuracy: 0.8848
Epoch 73/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2772 - accuracy: 0.8842
Epoch 74/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2786 - accuracy: 0.8847
Epoch 75/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2753 - accuracy: 0.8854
Epoch 76/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2748 - accuracy: 0.8874
Epoch 77/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2745 - accuracy: 0.8853
Epoch 78/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2737 - accuracy: 0.8893
Epoch 79/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2732 - accuracy: 0.8872
Epoch 80/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2721 - accuracy: 0.8865
Epoch 81/100

266/266 [==============================] - 1s 2ms/step - loss: 0.2696 - accuracy: 0.8885
Epoch 82/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2688 - accuracy: 0.8878
Epoch 83/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2684 - accuracy: 0.8886
Epoch 84/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2672 - accuracy: 0.8881
Epoch 85/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2659 - accuracy: 0.8898
Epoch 86/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2649 - accuracy: 0.8902
Epoch 87/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2642 - accuracy: 0.8922
Epoch 88/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2642 - accuracy: 0.8908
Epoch 89/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2618 - accuracy: 0.8924
Epoch 90/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2627 - accuracy: 0.8907
Epoch 91/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2607 - accuracy: 0.8909
Epoch 92/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2578 - accuracy: 0.8936
Epoch 93/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2565 - accuracy: 0.8959
Epoch 94/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2561 - accuracy: 0.8908
Epoch 95/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2573 - accuracy: 0.8935
Epoch 96/100
266/266 [==============================] - 1s 2ms/step - loss: 0.2548 - accuracy: 0.8946
Epoch 97/100
266/266 [==============================] - 0s 2ms/step - loss: 0.2539 - accuracy: 0.8946
Epoch 98/100
266/266 [==============================] - 0s 2ms/step - loss: 0.2520 - accuracy: 0.8949
Epoch 99/100
266/266 [==============================] - 0s 2ms/step - loss: 0.2515 - accuracy: 0.8967
Epoch 100/100
266/266 [==============================] - 0s 2ms/step - loss: 0.2516 - accuracy: 0.8945

In [19]:
ev = model.evaluate(X_test , y_test)
ev

47/47 [==============================] - 0s 4ms/step - loss: 0.4364 - accuracy: 0.8413

[0.43636780977249146, 0.8413333296775818]

In [21]:
ev[1]

0.8413333296775818

In [22]:
X_test.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
2077,-1.012384,0.749346,-0.843560,-0.469311,0.341352,1.095765,-0.911583,-1.547768,-1.030670,1.677431
9207,1.457521,-0.655761,0.325625,1.247053,-0.004426,0.579934,-0.911583,0.646092,-1.030670,-1.373819
6755,0.608123,-0.103674,1.670706,-0.087897,-0.695982,0.811483,0.807737,0.646092,0.970243,1.299524
6704,0.590456,-0.125987,-2.219681,0.579578,-0.695982,0.446407,0.807737,0.646092,0.970243,1.451112
9528,1.568718,-1.480255,0.915392,-0.469311,1.378686,-1.225848,-0.911583,0.646092,-1.030670,-0.686968

In [23]:
yp = model.predict(X_test)
yp[ : 5]  ## y_test predicted value

## 0.5 greater means 1 ; lesser mean zero

47/47 [==============================] - 0s 2ms/step

array([[4.0072389e-02],
       [8.9276296e-01],
       [1.7814079e-04],
       [4.4077098e-01],
       [2.5370234e-01]], dtype=float32)

In [26]:
round(8.9276296e-01) , round(4.0072389e-02)

(1, 0)

In [24]:
## actual value 
y_test[: 5]  ## out of 5 4 is predicted correctly

2077    0
9207    1
6755    0
6704    1
9528    0
Name: Exited, dtype: int64

## Use MLFlow

In [27]:
import mlflow
import mlflow.tensorflow

In [29]:
loss , acc = model.evaluate(X_test , y_test)
print(loss)
print(acc)

47/47 [==============================] - 0s 2ms/step - loss: 0.4364 - accuracy: 0.8413
0.43636780977249146
0.8413333296775818

In [38]:
with mlflow.start_run() as run:
    loss , acc = model.evaluate(X_test , y_test)
    mlflow.log_metric(f"Binary Cross Entropy_" , loss)
    mlflow.log_metric(f"Predicted Accuracy is_" , acc)
    mlflow.keras.log_model(model , "model")
    model_path = mlflow.get_artifact_uri("model")
    loaded_tf_model = mlflow.keras.load_model(model_path)
    loaded_tf_model.predict(X_test)

47/47 [==============================] - 0s 2ms/step - loss: 0.4364 - accuracy: 0.8413

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: C:\Users\admin\AppData\Local\Temp\tmp0fwiac1d\model\data\model\assets

INFO:tensorflow:Assets written to: C:\Users\admin\AppData\Local\Temp\tmp0fwiac1d\model\data\model\assets

47/47 [==============================] - 0s 2ms/step

In [5]:
import yaml
def read_yaml(path_to_yaml: str) -> dict:
    with open(path_to_yaml) as yaml_file:
        content = yaml.safe_load(yaml_file)
    return content

In [10]:
read_yaml("../configs/config.yaml")

{'artifacts': {'base_data': 'artifacts/data_df.pickle',
  'artifacts_dir': 'artifacts',
  'model_config_dir': 'model_config',
  'test_loader_bin': 'test_loader.bin',
  'train_loader_bin': 'train_loader.bin'},
 'source_data_dirs': {'data': 'data/Churn_Modelling.csv'},
 'params': {'BATCH_SIZE': 32,
  'TEST_BATCH_SIZE': 1000,
  'LR': 0.01,
  'GAMMA': 0.7,
  'SEED': 42,
  'LOG_INTERVAL': 10,
  'EPOCHS': 1}}

In [11]:
import pickle
with open(r"../artifacts/data_df.pickle", "rb") as input_file:
    e = pickle.load(input_file)

In [13]:
print(type(e))
e.head()

<class 'pandas.core.frame.DataFrame'>

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
e[:10]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [17]:
model = tf.keras.models.load_model("../artifacts/model_ckpt.h5")
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                220

 dense_1 (Dense)             (None, 215)               4515

 dense_2 (Dense)             (None, 1)                 216

=================================================================
Total params: 4,951
Trainable params: 4,951
Non-trainable params: 0
_________________________________________________________________